
.sliderimg{
    filter:brightness(40%);
    width:100%;
    height: 100vh;
}



.content-wrapper{

    width: 100% !important;
}

.carousel-caption{
    top:30% !important;
}

.homediv{
    background: url('../Assets/lightbg.jpg');
}

.preloader{
    background-image: url('../Assets/loading2.gif')   ;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

