.maindashdiv{
    background-image: linear-gradient(to bottom right, rgb(15, 0, 99), rgb(84, 81, 235));
    width: 100%;
    height: 100vh;
}



.cardBox{    
    
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.pfpp{
    width: 100%;
    height: 100%;
}

.dashcard{
    background-image: linear-gradient(to bottom right, rgb(220, 220, 220), rgb(136, 136, 136));
}