.categorydiv{
    width: 100%;
    height: 40vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../Assets/bluebg.jpg);
}

.booklayout{
    width: 100%;
    justify-content: center;
    display: flex;
}

.searchbox{
    display: flex;
}
