#basic-nav-dropdown{
    color: rgb(255, 255, 255);
}

.navbar-active{

    background-color: rgb(36, 36, 141);
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.navBar{
    background-color: rgba(180, 206, 244, 0.1) ;
    
}